@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=New+Tegomin&family=Source+Code+Pro:ital,wght@1,300&display=swap');
/* ----------------------- navbar ----------------------------*/
.logo {
  width: 6.25rem;
  border-radius: 7px;
}

/* ----------------------- menu links ----------------------------*/
nav a.nav-link {
font-weight: 900;
letter-spacing: 2px;
font-family: 'Indie Flower';
margin-left:20px;
}
.dropdown-item {
  
font-weight: 900;
letter-spacing: 2px;
font-family: 'Indie Flower';
}
